<style>
  html, body {
    height: 100%;
    background-color: tomato;
    position: relative;
  }
  
  #drag {
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #fff;
    cursor: all-scroll;
  }
</style>
<div style="text-align:center">
  <h1>
    {{title}}
  </h1>
  <all-videos></all-videos><br>
  <button (click)="drag()">drag</button>
</div>
<div id="drag" style="background-color:black;height:100px;width:100px;display:inline-block;cursor:all-scroll;"></div>